*{
    margin: 0px;
    padding: 0px;
}

:root{

    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

body{
    width: 100%;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    min-width: 1024px;
    min-height: 569px;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.bg-container{
    box-sizing: content-box;
    width: 1024px;
    height: 569px;
    /* border: 1px solid blue; */

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bg-container_01{
    position: absolute;
    top: 180px;
    left: 150px;
    /* border: 1px solid rgb(4, 238, 94); */

    width: 120px;
    height: 100px;
    background-image: url(../images/pattern-quotes.svg);
}
.bg-container_02{
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* border: 1px solid red; */

    width: 610px;
    height: 154px;
    background-image: url(../images/pattern-curve.svg);
}
.bg-container_03{
    position: absolute;
    top: 37px;
    right: 50px;
    /* border: 1px solid red; */

    width: 495px;
    height: 465px;
    background-image: url(../images/pattern-bg.svg);
    background-size: contain;
}

.card-container{
    position: absolute;
    display: flex;
    align-items: center;

    width: 790px;
    height: 385px;
    /* border: 1px solid red; */
    z-index: 2;
}

.card-container_profileText{
    width: 405px;
    height: 195px;
    z-index: 2;
}

.profile-text{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 300;
    margin-right: -50px;
    margin-bottom: 35px;
}

.profile-photo{
    position: absolute;
    right: 0px;
    width: 385px;
    height: 385px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.18);
}

.name{
    display: inline;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--DarkBlue);
}

.job{
    
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--GrayishBlue);
}

.button-container{
    position: absolute;
    bottom: 70px;
    right: 380px;

    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 3;
}

button{
    width: 12px;
    height: 18px;
    border: 0px;
    background-color: transparent;
    background-size: 12px 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 18px;
    cursor: pointer;
    outline: none;
    /* border: 1px red solid; */
}

.prev-button{
    background-image: url(../images/icon-prev.svg);
}

.next-button{
    background-image: url(../images/icon-next.svg);
}
